<h1>Please fill out the form</h1>
<form id="tweet_form" action="/tweet" method="POST">
  <label for="tweet">Type your tweet here:</label><br>
  <textarea type="text" name="tweet" id="tweet" placeholder="e.g. I had an awesome sandwich for lunch."></textarea>
  <input type="submit" id="submit" value="Post that Tweet">
</form>

