<h1>Tweet Now! 2: Multi-User</h1>

  <% if current_user? %>
    <div>
      <p>
        <button><a href="/sign_out">Sign Out</a></button>
      </p>
      <h1>Please fill out the form</h1>
      <form id="tweet_form" action="/tweet" method="POST">
        <label for="tweet">Type your tweet here:</label><br>
        <textarea type="text" name="tweet" id="tweet" placeholder="e.g. I had an awesome sandwich for lunch."></textarea>
        <input type="submit" id="submit" value="Post that Tweet">
      </form>
    </div>
    <div id="print-out"></div>
    <div id="pacman"></div>
  <% else %>
    <button><a href="/sign_in">Sign In with Twitter</a></button>
  <% end %>



